<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-brand">
    <%= link_to "Blogs", blogs_path %>

  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <div class="navbar-wagon-item navbar-wagon-link">


    <div class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "Add a blog", new_blog_path, class: 'btn btn-warning'%>
    </div>

    <% if !user_signed_in? %>
      <div class="navbar-wagon-item navbar-wagon-link">
        <%= link_to "Log in", new_user_registration_path, class: 'btn btn-primary'%>
      </div>
    <% else %>
      <div class="navbar-wagon-item ">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <%= t(".sign_out", default: "Log out") %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
</div>

